* {box-sizing: border-box; margin: 0; outline: none; padding: 0; vertical-align: middle;}
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}

form {text-align: left;}
fieldset {background: #eee; border-radius: 5px;}
input, textarea, select, button {border: solid transparent 1px; border-radius: 5px; padding: 5px 10px;}
input, textarea, select {background: #fff; border-color: #ccc;}
input:hover, textarea:hover, select:hover {border-color: #aaa;}
input:focus, textarea:focus, select:focus {border-color: #42b983;}
input:disabled, textarea:disabled, select:disabled {border-color: #ccc; cursor: not-allowed; opacity: .9;}
button {background: #209761; color: #fff; cursor: pointer;}
button:hover {background: #108751;}

table {border-collapse: collapse; margin: 10px 0; width: 100%;}
td, th {border: solid #aaa 1px; padding: 5px 10px;}
table tr {}
table tr:nth-child(2n + 1) {background: #ddd;}
table button + button {margin-left: 5px;}

.forms {align-items: center; display: flex; gap: 10px;}
.forms form {width: 50%;}
.forms fieldset > div, 
.forms fieldset .fieldset {align-items: flex-start; display: flex; gap: 10px;}
.forms fieldset > div {margin: 15px; gap: 20px;}
.forms fieldset .fields, 
.forms fieldset .fieldset, 
.forms fieldset .errors {flex-direction: column; gap: 10px;}
.forms fieldset .errors > div {background: #bb444a; border-radius: 5px; color: #fff; font-weight: 500; line-height: 1.35em; padding: 5px 10px;}
.forms fieldset .buttons {gap: 5px;}
.forms fieldset > legend {margin: 5px 15px;}

.fieldset {background: #ddd; border-radius: 5px; padding: 15px; width: 100%;}
.fieldset {border: solid #aaa 1px;}
.field {align-items: center; display: flex; justify-content: space-between; width: 100%;}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 800px;
  margin: 0 auto;
}

nav {padding: 30px;}
nav a {color: #2c3e50; font-weight: bold;}
nav a.router-link-exact-active {color: #42b983;}
